.spin {
    animation: spin 2s linear infinite;
}
.loading{
    height: 48px;
}
  
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
  